<!DOCTtype>
<html>
  <head>
      <title> Zinny Careers </title>
      <meta charset="utf-8">
       <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
     <style>
        #banner {
           width: 100%;
           height: 320px;
           object-fit: cover
        }

     </style>
  </head>
     <body>
        {% include "nav.html" %}
        <img id="banner" src= "https://0878d21f-7113-4f06-80cb-e5f1b0056bd0-00-1vgaq9pjixx5j.picard.replit.dev/static/banner 1.jpeg">
     <div class ="container">
        <h1 class= "text-center mt-4 mb-4"> Zinny Careers </h1>
        <div class="row" style="margin-bottom:16px">
           <div class="col-md-6">
        <p class="lead">At Zinny Career, we are dedicated to empowering individuals on their professional journey by providing the resources, guidance, and tools needed to navigate the ever-evolving job market. Whether you're a recent graduate, a seasoned professional looking to make a career change, or someone striving to advance within your current field, Zinny Career is here to support you every step of the way.</p>
           </div>
           <div class ="d-none d-md-block col-6">
               <img src="static/image1.jpeg" style="height: 320px; border-radius:4px;" >
            </div>
        </div>
        <h2 class= "text-center mt-2 mb-4"> Open Positions </h2>
        <div>
          {% for job in jobs%}
          {% include "jobitem.html" %}
          {% endfor %} 
       </div>
        <div class="text-center">                                <a class="btn btn-primary btn-lg" href ="mailto:ajetunmobizainab2000@gmail.com?subject=Question%20about%20job%20opening&body=My%20Name%3A%3Cyour%20name%3E%0D%0AMy%20Questions%3A%3Center%20your%20question%20here%3E%0D%0A%0D%0A">Contact Us</a>
        </div>
    </div>  
        {% include "footer.html" %}
  </body>
  
</html>