<div class="border-bottom row" style = "margin-bottom:16px; padding-bottom: 8px">
  <div class="col-10">
        <h4 style ="color: rgb(120,120,120);                   margin-bottom:4px;"> 
            {{job["title"]}}  
        </h4>
        <div><b>Location: </b>
             {{job["location"]}}
        </div>
        <div><b>Salary: </b>
            {{job["salary"]}}
        </div>
  </div>
    <div class="col-2">
        <a href="mailto:zainabajetunmobi2000@mail.com?subject=Application%20to%20{{job["title"]}}&body=Name%3A%0D%0ACV%20link%3A%0D%0ALinkedIN%20link%3A" type="button" class="btn btn-outline-primary">Apply</a>
    </div>
</div>